body{
    overflow-x: hidden;
    font-family: 'Trebuchet MS';
    color: #616971;
}
.top-bar{
    background: rgb(88, 9, 9);
    height: 2.3rem;
    padding: .5rem 0;
    
}
.top-bar a{
    color:whitesmoke;
    text-decoration: none;
}

.navbar-brand img{
    height: 3rem;
}

.navbar .nav-item:not(:last-child){
    margin-right: 20px;
}
.dropdown-toggle::after {
    transition: transform 0.15s linear; 
 }
  
 .show.dropdown .dropdown-toggle::after {
   transform: translateY(3px);
 }

 .carousel-caption{
     position: absolute;
     top: 59%;
     transform: translateY(-50%);
     font-family: 'Tajawal', sans-serif;
 }
.bg-custom{
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;
}

.h3{
    color: rgb(88, 9, 9);
}
.btn:hover{
    background-color: rgb(88, 9, 9);
    color: white;
}
span.amount{
    font-size: 30px;
}
.big-image{
    margin: 0;
}
.page{
    background-color: rgb(88, 9, 9);
}
.footer img{
    height: 6rem;
    margin: 1.5rem auto;
}.social img{
    height: 3rem;
}
ul.social{
    list-style-type: none;
    display: flex;
    max-width: 18rem;
    margin: 0 auto;
}
ul.social li{
    margin: 0 auto;
}
.socket{
    background-color:  rgb(88, 9, 9);
}
.socket a{
    color: white;
    text-decoration:none;
}
span p{
    font-family: 'Segoe UI', Tahoma;
}
.para p{
    font-size: 20px;
    color: black;
}
.link a{
    color: white;
}
.link .btn{
    background-color: rgb(88, 9, 9);
    
}
.link a{
    color: white;
}
.socket{
    background-color:  rgb(88, 9, 9);
}
.socket a{
    color: white;
    text-decoration:none;
    font-size: 1rem;
}
span p{
    font-family: 'Segoe UI', Tahoma;
}

ul.social{
    list-style-type: none;
    display: flex;
    max-width: 18rem;
    margin: 0 auto;
}
ul.social li{
    margin: 0 auto;
}
.social img{
    height: 2rem;
}